* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 18px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  overflow-y: scroll;
}

/* 
==========================
Main
==========================
*/

main {
  margin: 4vh auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  row-gap: 40px;
}

section {
  width: fit-content;
  background-color: #e2eafc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

section h4 {
  display: inline;
  max-width: 250px;
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
  font-weight: 500;
  text-align: center;
  text-overflow: ellipsis;
}
section h5 {
  font-weight: 500;
  color: rgb(73, 73, 73);
  text-align: center;
}
section a {
  text-decoration: none;
  background-color: #2b69fa;
  color: whitesmoke;
  padding: 4px 28px;
  margin-top: 6px;
}
section a:hover {
  background-color: #709bff;
  transition: 0.3s;
}

/* 
=====================
Footer
=====================
 */
footer {
  background-color: rgb(37, 37, 37);
  color: whitesmoke;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer h3 {
  font-weight: 400;
}
footer h4 {
  font-weight: 300;
  color: rgb(194, 194, 194);
}

/* 
=======================
Media Query
=======================
 */
@media only screen and (max-width: 1400px) {
  main {
    margin: 4vh auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 30px;
  }
}

@media only screen and (max-width: 1050px) {
  main {
    margin: 4vh auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 30px;
  }
}

@media only screen and (max-width: 750px) {
  main {
    margin: 4vh auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 30px;
  }
  section img {
    width: 160px;
  }
}
